<template>
  <div class="article-view"> 
    <div class="user_c">
      <div class="user_t">
        <img :src="u_img" class="image_u">
        <div class="u-name"> {{ u_name }} {{ u_surname}}</div>
      </div>
      <div class="date_c">{{a_date}}</div>
    </div>
    <div class="article_cont" v-html="a_template">
    </div>
  </div>
</template>

<script>
import * as api from './../api/api'
import moment from 'moment'

export default {
  props: {
    id: String
  },
  data () {
    return {
      u_name: null,
      u_surname: '',
      u_img: require('../assets/images.png'),
      a_date: '',
      a_template: ''

    }
  },
  methods: { 
    avatar(img) {
      if(img == undefined || img == null || img == '') {
        return require('../assets/images.png')
      }
      return `http://192.168.43.70:3000/${img}`
    },
    time(time) {
       return moment(time).format('DD.MM.YYYY');
    },
    get() {
      console.log(this.id);
      api.getNewsById(this.id)
      .then(data => {
        console.log(data.ntemplate);
        this.a_date = this.time(data.ndatecreate);
        this.a_template = data.ntemplate;
        api.getUserById(data.u_id)
        .then(data => {
          console.log(data);
          this.u_img = this.avatar(data.photo);
          this.u_name = data.uname;
          this.u_surname = data.usurname;
          
        })
      })
      console.log(this.u_name);
    }
  },
  created() {
    this.get();
    
  }
}
</script>

<style >


.user_c {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  background: linear-gradient(280.8deg, #FE0000 -16.9%, #00B2FF 129.52%);
  padding-right: 20px;
}

.user_t {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.image_u {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  object-fit: cover; 
}

.u-name {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 30px;
  color: #fff;
}

.date_c {
  color: #fff;
}

.article_cont {
  margin-top: 10px;
}


.article_cont * img {
  width: 100%;
}

</style>
