<template>
  <div>
    <div  :class="cont">
      <div class="container">
        <div class="input">
          <vs-textarea v-model="title" counter="20" height="50" placeholder="заголовок" color='#FEDA00'/>
          <vs-textarea v-model="discription" counter="100" height="80" placeholder="описанеие" color='#FEDA00'/>
          <span>выберете фото</span>
          <vs-input type="file" id="image" ref="myFiles" v-model="img" @change="processFile($event.target.files[0])"/>
        </div>

        <div>
          <div class="article" @click="open">
            статья
          </div>
          
          <div class="apload" @click="upload">
            опубликовать
          </div>
        </div>
      </div>
    </div>

    <div class="editor" :class="edit">
      <vue-editor id="editor1" v-model="content"></vue-editor>
      <div class="buttom">
        <div class="safe" @click="close">
          сохранить
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import Vuesax from 'vuesax'
import { VueEditor } from "vue2-editor";

import * as api from './../api/api'

import 'vuesax/dist/vuesax.css' //Vuesax styles
import moment from 'moment';
import { log } from 'util';

Vue.use(Vuesax)

export default {
  props: {
    id: String
  },
  components: {
    VueEditor
  },
  data() {
    return {
      content: '',
      title: '',
      discription: '',
      img: '',
      cont: 'show',
      edit: 'close',

    };
  },
  methods: {
    open() {
      this.cont = 'close'
      this.edit = 'show'
    },
    close() {
      this.cont = 'show'
      this.edit = 'close'
    },
    upload(){
      
      let uu = document.getElementById('image').files[0];
      // console.log(uu);
      



      if (this.content != '' && this.title != '' && this.img != '' && uu != undefined && this.discription != '') {

        console.log('ok');
        
        let data = new FormData();
        data.append('image', uu);
        data.append('date', moment().format('LLLL'));
        data.append('title', this.title);
        data.append('discription', this.discription);
        data.append('template', this.content);
        data.append('user_id', this.id);
        
        
        api.addNews(data)
        .then(data => {
          console.log(data[0]);
          if(data[0] == 'ok'){
            this.$vs.notify({
              title:'Успешно',
              text:'Новость опубликована',
              color: '#00B2FF',
              position: 'top-center'
            })
          }
          
        })


      } else {
        console.log('sdsd');
        
         this.$vs.notify({
            title:'Error',
            text:'Заполните все поля',
            color: '#f8173e',
            position: 'top-center'
        })

      }

    },
  processFile(file) {
    // console.log(file);
    
    // this.img = file
  }
  },
  mounted() {
    console.log(this.id);
    
  }
}
</script>

<style>
.container {
  width: 100%;
  height: 100vh;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between
}

.apload {
  width: 200px;
  height: 50px;
  border-radius: 30px;
  background: linear-gradient(280.8deg, #FEDA00 -16.9%, #FF00A8 129.52%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff
}

.article {
  width: 200px;
  height: 50px;
  border-radius: 30px;
  background: linear-gradient(280.8deg, #FE0000 -16.9%, #00B2FF 129.52%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
  margin-bottom: 20px
}

.article:active,
.apload:active {
  opacity: 0.5;
  /* transition: .4s ease-out; */
  color: #ffff
}

.input {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center
}

#editor1 {
  height: 90vh;
  padding-top: 150px;
  border: 0;
}

.ql-toolbar {
  position: fixed;
  width: 100%;
  z-index: 999999;
  background-color: #ffff
}

.buttom {
  width: 100;
  display: flex;
  flex-direction: column;
  align-items: center
}

.safe {
  width: 200px;
  height: 50px;
  border-radius: 30px;
  background: linear-gradient(280.8deg, #FEDA00 -16.9%, #FF00A8 129.52%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
  margin-bottom: 10px;
}

.show {
  display: block;
}

.close {
  display: none
}

</style>
